 h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50pt;
    text-align: center;
    color: aqua;
    -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
   font-weight: bold;
   padding: 20px;
} 


h2  {
    font-size: 25pt;
    -webkit-text-stroke-width: 1px;
    

}

.jumbotron {
    background-image: url("../images/crytsalwallpaper.jpeg"); 
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   position: relative;
   text-align: center;
   
}    

.display-4 {
    padding-top: 0px;
    font-size: 70pt;
    padding-bottom: 30px;
}

.lead {
    font-size: 30pt;
    padding-bottom: 60px;
}

.bg {
    background-image: url("../images/mineWallpaper.jpg");
    height: 1200px;
}

#Button1{
    margin-left: 38px;
      
}

.button {
    background-color: rgba(0,0,0,0);
    border: 0px; 
    cursor: url(../images/cursor.cur),auto;
    
   
}

button:focus {
    outline:0;
}

.button:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  